<nav class="navbar bg-midnight-blue" id="navbar-top">
    <div class="container-fluid">

        <div>
            <section>
                <p class="white-text center-text">City of Los Santos</p>
            </section>
        </div>
        

        <div class="d-flex flex-wrap float-right">
            <section>
                <nav>
                    <ul class="clearfix nav">
                        <li class="nav-item">
                            <a class="nav-link yellow-text yellow-box" target="_blank" href="https://discord.gg/prestigerp">Prestige Roleplay</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link white-text white-box" target="_blank" href="https://discord.gg/prestigejobs">Whitelisted Jobs</a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>

    </div>
</nav>

<nav class="navbar bg-body-tertiary" id="navbar-main">
    <div class="container-fluid">
        <div class="">
            <div class="content">
                <div>
                    <div>
                        <div>
                            <a href="/" class="navbar-brand">
                                <img alt="Home" class="d-inline-block align-center" src="\assets\img\LSPD.png" width="76" height="76">
                                <span class="logo-text fw-bold">LOS SANTOS</span>
                                <span>POLICE DEPARTMENT</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div>
                <div class="content">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link nav-text fw-bold">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a href="/apply" class="nav-link nav-text fw-bold">APPLY</a>
                        </li>
                        <li class="nav-item">
                            <a href="/careers" class="nav-link nav-text fw-bold">CAREERS</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link nav-text fw-bold dropdown-toggle" role="button" data-bs-toggle="dropdown">INFORMATION</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/faq">FAQs</a></li>
                                <li><a class="dropdown-item" href="/hiring">Hiring Process</a></li>
                                <li><a class="dropdown-item" href="/coc">Command Structure</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/mylspd" class="nav-link nav-text fw-bold">MYLSPD</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</nav>